/* Navigation */
#main-nav .social {
    display: none;
}
#main-nav .container{
    grid-template-columns: 1fr;
    grid-gap: 1.2rem;
}
#main-nav ul,
#main-nav .logo{
    justify-self: center;
}
#main-nav ul li a{
    padding: 0.5rem;
}

#home-articles .articles-container{
    grid-template-columns: repeat(2 ,1fr);

}
#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child{
    grid-template-columns: 1fr;
    grid-column: 1;
}

@media (max-width: 600px){
      #showcase .showcase-container,
      #home-articles .articles-container,
      #main-footer .footer-container{
          grid-template-columns: 1fr;
      }

      #showcase .showcase-content{
          position: relative;
          top: 0;
          left: 50%;
          font-size: 70%;
          text-align: center;
          display: flex-block;
          justify-content: center;
          flex-direction: column;
          opacity: .8;
         
          
      }
      #showcase .showcase-content p{
          display: none;
      }

      #showcase::before{
          height: 100%;
      }
      #showcase {
          height: 50%;
      }

      #main-footer .footer-container > *:last-child{
          grid-column: 1;
      }

      #main-footer .footer-container > *:first-child,
      #main-footer .footer-container > *:nth-child(2){
          border-bottom: 1px dotted #999;
          padding-bottom: 1rem;
      }
      .page-container{
          grid-template-columns: 1fr;
          text-align: center;
      }
      .page-container #categories{
          text-align: left;
          
      }
      .page-container > *:first-child{
          grid-row: 1;
      }
      .l-heading{
          font-size: 2rem;
      }
}

